.header-search {
	height: 40px;
	overflow: hidden;
	background-color: #fff;
}
.header-search .search-form {
	margin-top: 5px;
	padding: 0 10px 0;
}
.header-search .search-box {
	height: 30px;
    border-radius: 15px;
   	background-color: #ccc;
   	display: -webkit-box;
   	display: box;
}
.header-search .search-icon {
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
    margin: 4px 6px 0 8px;
    color: #ff7a29;
}
.header-search .search-form-input {
	height: 100%;
    width: 80%;
}
.header-search input {
	border: 0;
    display: inline-block;
    background: none;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}