<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no">
    <meta content="yes" content="apple-moblie-web-app-cappable">
    <meta content="yes" content="apple-touch-fullscreen">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
	<title>k歌</title>
    <script type="text/javascript" src="../js/rem.js"></script>
	<link rel="stylesheet" href="../css/public.css">
</head>
<body>
    
	<div class="navbar-top">
	  	<i class="back-btn iconfont">&#xe602;</i>
	  	<h2 class="navbar-title">服务</h2>
	</div>
    <div class="music-wrap" id="music-wrap">
		<div class="music-wrap-cont" id="scroller">
            <div class="music-title"><span class="flag"></span>开通服务</div>
			<ul class="music-list">
				<li class="music-item">
					<div class="music-visible-panel">		
                        <div class="mine-btn">1</div>
                        <div class="mine-txt">包月会员30元, 先优惠价15元</div>
					</div>
				</li>
                <li class="music-item">
                    <div class="music-visible-panel">       
                        <div class="mine-btn">1</div>
                        <div class="mine-txt">半年会员送一个月，现优惠价：90元</div>
                    </div>
                </li>
                <li class="music-item">
                    <div class="music-visible-panel">       
                        <div class="mine-btn">1</div>
                        <div class="mine-txt">全年会员送三个月，现优惠价：180元</div>
                    </div>
                </li>
			</ul>
            <div class="payment-btn">支付</div>
		</div>
	</div>  
    <script type="text/javascript" src="../js/zepto.js"></script> 
    <script type="text/javascript" src="../js/iscroll.js"></script>
    <script type="text/javascript" src="../js/public.js"></script>
</body>
</html>