<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">

    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no">
    <meta content="yes" content="apple-moblie-web-app-cappable">
    <meta content="yes" content="apple-touch-fullscreen">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>k歌</title>
	<script type="text/javascript" src="../js/rem.js"></script>
	<link rel="stylesheet" href="../css/public.css">
</head>
<body>
	<div class="page">
		<!-- 头部导航区域 -->
		<div class="header">
			<div class="navbar-top">
			  	<i class="back-btn"></i>
			  	<h2 class="navbar-title">最新热歌</h2>
			  	<div class="music-record">已点</div>				  	
			</div>
		</div>
		<!-- 内容区域 -->
		<div class="content" id="content">
    		<div class="">
				<ul class="music-list">
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
					<li class="music-item">
						<div class="music-visible-panel">
							<div class="music-num">1</div>
							<div class="music-detail">
								<h4 class="music-name">心中的太阳</h4>
								<p class="music-singer">南拳妈妈</p>
							</div>
							<div class="music-btn">
								<div class="common-btn select-btn">
								    <i class="common-icon icon-add"></i>
								    <span class="common-txt select-txt">点歌</span>
								</div>
							</div>
						</div>
						<div class="music-hidden-panel">
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
							<div class="common-btn mar10">
							    <i class="common-icon icon-add"></i>
							    <span class="common-txt select-txt">点歌</span>
							</div>
						</div>
					</li>
				</ul> 
			</div>
		</div>
		<!-- 底部导航区域 -->
		<div class="footer">
		    <div class="tabbar tabbar-fixbottom" id="tabbar">
		        <div class="tabbar-item">
		            <div class="tabbar-icon iconfont">&#xe603;</div>
		            <p class="tabbar-label">遥控</p>
		        </div>
		        <div class="tabbar-item">
		            <div class="tabbar-icon iconfont">&#xe602;</div>
		            <p class="tabbar-label">已点歌</p>
		        </div>
		        <div class="tabbar-item tabbar-item-center">
		            <div class="tabbar-icon-center">
		                <div class="tabbar-icon iconfont">&#xe601;</div>
		                <p class="tabbar-label">K歌</p>
		            </div>
		        </div>
		        <div class="tabbar-item">
		            <div class="tabbar-icon iconfont">&#xe606;</div>
		            <p class="tabbar-label">发现</p>
		        </div>
		        <div class="tabbar-item" data-href="views/ktv_mine.html">
		            <div class="tabbar-icon iconfont">&#xe604;</div>
		            <p class="tabbar-label">我的</p>
		        </div>
		    </div>
		</div>
	</div>
	<script type="text/javascript" src="../js/zepto.js"></script> 
	<script type="text/javascript" src="../js/public.js"></script>
	<script type="text/javascript">
		$("#content").on("tap", ".music-visible-panel", function(e){
			console.log(2);
		});

		$("#content").on("tap", ".common-btn", function(e){
			/*var $target = $(e.target);*/
			console.log(1);
		});

	 <ul id="parent-list">
		<li id="post-1">Item 1  <button>button<button></li>
		<li id="post-2">Item 2 <button>button<button></li>
		<li id="post-3">Item 3 <button>button<button></li>
		<li id="post-4">Item 4 <button>button<button></li>
		<li id="post-5">Item 5 <button>button<button></li>
		<li id="post-6">Item 6 <button>button<button></li>
	</ul>
	</script>
</body>
</html>