<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">

    <meta name="format-detection" content="telephone=no"> 
    <meta name="format-detection" content="email=no">
    <meta content="yes" content="apple-moblie-web-app-cappable">
    <meta content="yes" content="apple-touch-fullscreen">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
	<title>k歌</title>
    <script type="text/javascript" src="../js/rem.js"></script>
	<link rel="stylesheet" href="../css/public.css">
</head>
<body>
    <div class="page">
        <div class="header">
        	<div class="">
        	  	<i class="back-btn iconfont"></i>
        	  	<h2 class="navbar-title">我的</h2>
        	</div>
        </div>
        <div class="content">
            <div class="music-wrap" id="music-wrap">
        		<div class="music-wrap-cont" id="scroller">
        			<ul class="mine-list">
        				<li class="mine-item">订购服务</li>
        				<li class="mine-item">订购服务</li>
        			</ul>
        		</div>
        	</div> 
        </div> 
        <!-- 底部导航区域 -->
        <div class="footer">
            <div class="tabbar navbar-bottom" id="tabbar">
                <div class="tabbar-item">
                    <div class="tabbar-icon iconfont">&#xe603;</div>
                    <p class="tabbar-label">遥控</p>
                </div>
                <div class="tabbar-item">
                    <div class="tabbar-icon iconfont">&#xe602;</div>
                    <p class="tabbar-label">已点歌</p>
                </div>
                <div class="tabbar-item tabbar-item-center" data-href="../index.html">
                    <div class="tabbar-icon-center">
                        <div class="tabbar-icon iconfont">&#xe601;</div>
                        <p class="tabbar-label">K歌</p>
                    </div>
                </div>
                <div class="tabbar-item">
                    <div class="tabbar-icon iconfont">&#xe606;</div>
                    <p class="tabbar-label">发现</p>
                </div>
                <div class="tabbar-item" data-href="ktv_mine.html">
                    <div class="tabbar-icon iconfont">&#xe604;</div>
                    <p class="tabbar-label">我的</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/zepto.js"></script> 
    <!-- <script type="text/javascript" src="../js/iscroll.js"></script> -->
    <script type="text/javascript" src="../js/public.js"></script>
</body>
</html>